<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- LOOP INTO THE COLLECTION OF PRODUCTS -->
                <div *ngFor="let product of products" class="col-md-3">

                    <div class="product-box">
                        <img src="{{product.imageUrl}}" alt="ProductImage" class="img-responsive">
                        <h1>{{product.name}}</h1>
                        <div class="price">{{product.unitPrice | currency:'USD'}}</div>
                        <a href="#" class="btn primary-btn">Add to cart</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>